/*Jason edit */

/*-----------browser clears-----------*/
* {
    margin: 0px;
    padding: 0px;
    outline:0;}
    
/*---------general-------------*/

body {
    font-family: Tahoma, Arial, Times New Roman, Sans-Serif;
    font-size: 11px;
    background-color:#fff;   
}

#container {
    margin: 0px auto;
    width: 1000px;
    
}

/*----------header and footer------------*/
.popup {
    float:right;
}
#header {
    background: #e8e8e8 no-repeat;
    height:120px;
    padding-left:10px;
}
#header a{
    text-decoration:none;
}
#headerLogo {
    padding-left:10px;
}
#headerLogo .headerText {
    padding-left:75px;
}
.myCart {
    float:right;
    font-size:10pt;
    padding:10px 25px 0px 0px;
}
.search {
    float:right;
    font-size:16pt;
    padding-top:80px;
}
#footer {
    background-color:#e8e8e8;
    text-align:center;
    padding:25px;
}
#footer a{
    text-decoration:none;
}
#footerText {
    font-style: italic;
}

/*---------left column-------------*/


/*---------nav menu-------------*/
#navMenu {
    
}

#tabs {
    /*text-align:center;*/
}

#tabs-1{
    
}
#tabs-1 li {
    display:inline;
    margin-right:20px;
}
#tabs-1 li a {
    text-decoration:none;
}
#tabs-1 li a:hover {
    color:#59b4d4;
}

#tabs-2 li {
    display:inline;
    margin-right:20px;
}
#tabs-2 li a {
    text-decoration:none;
}
#tabs-2 li a:hover {
    color:#59b4d4;
}

#tabs-3 li {
    display:inline;
    margin-right:20px;
}
#tabs-3 li a {
    text-decoration:none;
}
#tabs-3 li a:hover {
    color:#59b4d4;
}

#tabs-4 li {
    display:inline;
    margin-right:20px;
}
#tabs-4 li a {
    text-decoration:none;
}
#tabs-4 li a:hover {
    color:#59b4d4;
}

#tabs-5 li {
    display:inline;
    margin-right:20px;
}
#tabs-5 li a {
    text-decoration:none;
}
#tabs-5 li a:hover {
    color:#59b4d4;
}

#tabs-6 li {
    display:inline;
    margin-right:20px;
}
#tabs-6 li a {
    text-decoration:none;
}
#tabs-6 li a:hover {
    color:#59b4d4;
}

/*----------main content------------*/
#mainContent {
    background-color:#ccc;
}

#contactUs {
    padding:50px;
    text-align:center;
    font-size:12pt;
}
#contactUs a{
    text-decoration:none;
    border:0;
}
/*----------tablesorter styles------------*/
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../Images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../Images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../Images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* -- Daniel Edit, For ListView1 in Items.aspx */
.listViewItemTemplate:hover
{
	background-color:Yellow;
}
.listViewItemTemplate
{
	background-color:Gray;
	width:250px;
	height:200px;
}
.listViewAlternativeItemTemplate:hover
{
	background-color:Orange;
}
.listViewAlternativeItemTemplate
{
	background-color:Gray;
	width:250px;
	height:200px;
}

